button {
	position: relative;
  height: 50px;
  width: 200px;
  outline: solid;
  outline-color: #A39F9F;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  border: none;
  border-radius: 25px;
  background-color: #787777;
  color: white;
  	
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}
